:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: white;
}

/* Header */
.list-menu {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
}

.list-menu:hover {
  color: var(--ocean);
}

.list-menu:focus {
  color: var(--ocean);
}
/* Contacts */
.list-contact {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.list-contact:hover {
  color: var(--ocean);
}

.list-contact:focus {
  color: var(--ocean);
}

.link,
.footer-link {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio,
.footer-studio {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

/* First Section */
section.online {
  background-color: var(--navyblue);
}

ul.images,
ul.list,
ul.lists {
  list-style-type: none;
}

button.all-services {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: var(--ocean);
}

button.all-services:hover {
  background-color: var(--cloud);
  color: var(--iris);
}

button.service-type {
  color: var(--iris);
  text-align: center;

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background-color: var(--cloud);
}

button.service-type:hover {
  background-color: var(--iris);
  color: var(--white);
}

button {
  cursor: pointer;
}

/* Header 3 */
.service-header {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}

/* Paragraph */
.service-type {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Footer */
.footer-studio {
  color: var(--cloud);
}

p.footer {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

footer {
  background-color: var(--navyblue);
}

/* Studio Page Layout Styles */
/* Header 1 */
.title {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 0.02em;
  width: 1440px;
}

/* Button Text */
.order {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: var(--iris);
}

.order:hover {
  background-color: var(--ocean);
}
.order:focus {
  background-color: var(--ocean);
}

/* Header 3 */
ul.list,
ul.image-list {
  list-style-type: none;
}

.feature {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}

/* Body */
.feature-description {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Activities Section */
/* Header 2 */
.activities {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* Team Section */
/* Header 3 */
.member {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}

/* Body */
.position {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}

section.list-team {
  list-style-type: none;
  background-color: var(--cloud);
}

li.list-member {
  background-color: var(--white);
}
