:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: Raleway, sans-serif;
  color: black;
}

/* Header */
.index,
.portfolio,
.contacts {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
}

a.index:hover,
a.portfolio:hover,
a.contacts:hover {
  color: var(--iris);
}

/* Contacts */
a.mail,
a.tel {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

a.mail:hover,
a.tel:hover {
  color: var(--iris);
}

.web,
.footer-web {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio,
.footer-studio {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

ul.images,
ul.contacts {
  list-style-type: none;
}

button.all-services {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: var(--ocean);
}

button.all-services:hover {
  background-color: var(--cloud);
  color: var(--iris);
}

button.service-type {
  color: var(--iris);
  text-align: center;

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background-color: var(--cloud);
}

button.service-type:hover {
  background-color: var(--iris);
  color: var(--white);
}

button {
  cursor: pointer;
}

/* Header 3 */
.service-header {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/* Paragraph */
.service-type {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */
.footer-studio {
  color: var(--cloud);
}

p.footer {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
}

footer {
  background-color: var(--navyblue);
}
